---
layout: default
onepage: true
services:
  - title: Strategic communications diagnostics
    icon: fa fa-cog
    desc: Taking a pulse of your current communications context to help redefine your communications direction in more of a strategic and proactive manner.
    bg: /assets/images/service-tile.png
  - title: Purpose strategy
    icon: fa fa-bullseye
    desc: Building a refreshed sense of purpose across your organisationt to align and motivate your teams, boost efficiency, inspire your partners and drive up your impact.
    bg: /assets/images/service-tile.png
  - title: Sustainability foresight & visioning
    icon: fa fa-compass
    desc: Providing advice on sustainability trends for clearer visioning, forecasting and road mapping to enable the creation of more robust strategies and sharper sustainability communications.
    bg: /assets/images/service-tile.png
  - title: Sustainability voice
    icon: fa fa-microphone
    desc: Shaping your voice in this growing space enabling you to speak directly to your audiences and inspire behaviour changes that accelerate the sustainability movement.
    bg: /assets/images/service-tile.png
  - title: Capability building
    icon: fa fa-cubes
    desc: Delivering online and in-person training courses to build up organisational capabilities on delivering strategic, creative and impactful communications.
    bg: /assets/images/service-tile.png
  - title: Ongoing strategic support & guidance
    icon: fa fa-star
    desc: Continuing to strategically support and guide organisations on their communications journey towards further elevating your impact.
    bg: /assets/images/service-tile.png
works:
  - path: _works/Changeist.md
  - path: _works/DLT4EU.md
  - path: _works/floriculture-sustainability-initiative.md
  - path: _works/iucn.md
  - path: _works/ndc-partnership.md
  - path: _works/netherlands-environment-assessment-agency.md
  - path: _works/the-world-bank.md
  - path: _works/una-collective.md
members:
  - avatar: /assets/images/team/hayley_.jpg
    name: Hayley Bagnall
    position: Co-Founder & Chief Innovator
    socials:
      - link: https://www.linkedin.com/in/hayley-bagnall/
        icon: linkedin
    desc:
      "Hayley is a human-centred designer and sustainability communications specialist with impressive global experience. As HuckleBe's Chief Innovator, she helps our clients elevate their sustainability impact through creative visioning, transformative communications strategies and mindshifting trainings."
  - avatar: /assets/images/team/chloe_.jpg
    name: Chloe Hill
    position: Co-Founder & Chief Strategist
    socials:
      - link: https://www.linkedin.com/in/chloejhill/
        icon: linkedin
    desc:
      "A strategic mastermind and natural born storyteller, Chloe has worked with change-makers across six continents delivering sustainable impact for the last 15 years. As the HuckleBe Chief Strategist, Chloe helps our clients creatively navigate our new disruptive world and emerge as a sustainability leader."
team_slides:
  - /assets/images/slider/slider1.jpg
  - /assets/images/slider/slider2.jpg
  - /assets/images/slider/slider4.jpg
  - /assets/images/slider/slider10.jpg

testimonials:
  - quote: "Thanks to the excellent target audience work, key message generation, strategic foresight and creative visioning, HuckleBe produced a set of highly effective and engaging communications materials that informed and inspired our members."
    author:
      name: "Jeroen Oudheusden"
      avatar: '/assets/images/testimonies/jereon.jpeg'
      position: 'Executive Director, FSI'
  - quote: "A communications force to be reckoned with! Our team particularly enjoyed the way HuckleBe questioned and challenged assumptions about audience needs and content digestibility. They’re extraordinarily passionate about what they do and we’d love to work with them more!!"
    author:
      name: "Kate Black"
      avatar: '/assets/images/testimonies/kate.jpeg'
      position: 'Director of Communications, Metabolic'
  - quote: "HuckleBe delivered an energetic training specifically designed for each of our accelerator teams to help them translate and amplify their work for non-technical audiences. Our developers have now improved communication skills, have boosted their reach and also had fun in the process!"
    author:
      name: "Anna Higueras"
      avatar: '/assets/images/testimonies/anna.jpeg'
      position: 'Project Manager, Ideas for Change'
  - quote: "Thanks to the storytelling superpowers of HuckleBe, our work on nature-based solutions has been brought to life on our new website. We are now able to inform, inspire and influence policymakers — delighted with the final output!"
    author:
      name: "Annelies Seawell"
      avatar: '/assets/images/testimonies/annelies.jpeg'
      position: 'Project Coordinator, PBL'
  - quote: "The team were engaged to assist us with horizon scanning and future trend taxonomy for a UK innovation foundation in critical areas of sustainable energy transition and healthy food systems. Passionate and diligent in their sustainability trend research, they were a great help in getting us towards our final output. Thank you!"
    author:
      name: "Scott Smith"
      avatar: '/assets/images/testimonies/scott.jpeg'
      position: 'Managing Partner, Changeist'

clients:
  - /assets/images/clients/fsi.jpg
  - /assets/images/clients/ndc.jpg
  - /assets/images/clients/una.png
  - /assets/images/clients/metabolic.jpg
  - /assets/images/clients/iucn.jpg
  - /assets/images/clients/pbl.jpg
  - /assets/images/clients/unep.jpg
  - /assets/images/clients/wb.jpg
---

<div class='full no-padding parallax home-video-wrapper'>
  <div class='fullscreen'>
    <video autoplay='autoplay' id='fullscreen-video' loop='loop'>
      <source src='{{ "/assets/images/cover-video.mp4" | relative_url }}' type='video/mp4'>
    </video>
    <div class='overlay'></div>
    <div class='layer'>
      <p class="small-title">Inspire a new world</p>
      <h1 class='thin' id="to-be-update">
         <span class="sec">Sustainability Reimagined.</span><br/>
         <span class="thir"></span>
      </h1>
      <h2 class='thin'>
        We are a strategic communications consultancy on a mission to propel sustainable futures.
	We are Amsterdam-based. Women-run. Purpose-driven. Working globally.
       {% assign nav_obj = site.data.nav | where:'section_id','works' | first %}
       <a href='{{ "index.html" | append:nav_obj.path | relative_url }}'>View our work.</a>
      </h2>
    </div>
  </div>
</div>


<a id='about'></a>
<div class='full'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      <div class="section-title">
        <p class="small-title">We Elevate Your Impact</p>
        <p class="big-size">We work with impact-driven organisations to amplify your sustainability voice, boost your brand resilience and shore you up as an influential leader. 
		From bold, intuitive and forward-thinking strategies to content that captures to mind-shifting trainings - we reimagine new ways for you to elevate your impact.</p>
        <img src="{{ "/assets/images/logo-centered.png" | relative_url  }}" alt="Hucklebe logo" style="width:150px;height:auto;">
      </div>
    </div>
  </div>
</div>
<div class="full no-overflow no-padding parallax" style="background-image: url({{ "/assets/images/dandylion.jpg" | relative_url }})">
  <div class="journey right-half">
    <div class="two spacing"></div>
    <div class="section-header alt white">
      <h2>We believe in catalysing change.</h2>
    </div>
    <p class="light">We pair our sustainability expertise in climate solutions, green finance and circular economy with creative design and strategic communication to deliver a truly transformative approach that creates traction and boosts momentum.
    </p>
    <p class="light">We work with organisations who are embarking on their sustainability transformation journey and are here to take it seriously.  
    </p>
    <div class="two spacing"></div>
    <a href="https://drive.google.com/file/d/16vaxwMXvhx5fKOjdUl83ulalg5gd5GLw/view?usp=sharing" class="button small">Download our Superpowers Statement</a>
    <div class="three spacing"></div>
  </div>
 </div>


<a id='services'></a>
<div class='full'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      <div class="section-title">
        <p class="small-title">Our impact services</p>
        <h2>We've got you covered</h2>
    </div>
  </div>
 </div>
</div>	
<div class='full no-overflow no-padding'>
  <div class='main-services'>
    {% for item in page.services %}
      <div class='medium-6 large-4 columns'>
        {% include service.html service=item %}
      </div>
    {% endfor %}
  </div>
 </div>
</div>

<a id='works'></a>
<div class='full' style="padding-top: 20px;">
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html small_title="take a look" title="Our recent projects" %}
    </div>
  </div>
</div>
<div class='full no-padding' id="demo-1-works">
  <div class='mod modMasonryGallery'>
    <ul class='gallery'>

      {% for item in page.works %}

        {% assign work = site.works | where:"path",item.path | first %}

        {% if item.style == 'wide' %}
          {% assign class = 'wide' %}
          {% assign width = 1000 %}
          {% assign height = 350 %}
        {% else %}
          {% assign class = '' %}
          {% assign width = 500 %}
          {% assign height = 350 %}
        {% endif %}

        <li class="{{class}}">
          <a href='{{ work.url | relative_url }}'>
            <img width="{{width}}" height="{{height}}" alt="" src="{{ work.thumbnail | relative_url }}" />
            <div class='overlay'>
              <div class='thumb-info'>
                <h3>{{ work.name }}</h3>
                <p>{{ work.categories | join:" & " | escape }}</p>
              </div>
            </div>
          </a>
        </li>

      {% endfor %}
    </ul>
  </div>
</div>

<a id='team'></a>
<div class='full'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html small_title="The team" title="Meet the co-founders" %}
    </div>
  </div>
</div>
<div class="full no-padding">
  <div class="members large-6 small-12 columns large-centered">
    {% for member in page.members %}
      <div class="small-6 columns">
        <div class='member-avatar'>
          <img class="avatar" alt="" src="{{ member.avatar | relative_url }}" />
        </div>
      </div>
    {% endfor %}
  </div>
</div>
<div class="full no-padding team-bg">
  <div class="div member-decs large-6 columns large-centered">
    {% for member in page.members %}
      <div class="large-6 columns">
        <div class='member-dec'>
          <div class='intro'>
            <h3>{{ member.name | escape }}</h3>
            <h4>{{ member.position | escape }}</h4>
            <ul class='socials'>
              {% for social in member.socials %}
                <li>
                  <a href='{{ social.link }}'>
                    <i class='fa fa-{{ social.icon }}'></i>
                  </a>
                </li>
              {% endfor %}
            </ul>
            <p>{{ member.desc | escape }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="two spacing"></div>
</div>
<div class="full no-padding main-bg">
    <div class="row">
      <div class="section-header">
        <div class="four spacing"></div>
        <h2 style="display: block; text-align: left;">Our creative ecosystem</h2>
      </div>
    </div>
    <div class="row">
  <div>
    <p>We collaborate regularly with graphic designers, videographers, storytellers, illustrators and artists, as well as sustainabilty strategists and technical content specialists, who are all experienced in producing innovative and sustainability-focused deliverables. Under our strategic and creative guidance, we work closely with our creatives to deliver you the impact and results that you strive for.</p>
          <br>
        <a href="https://hucklebe.com/2021/10/10/the-hucklebe-journey-how-an-unlikely-pair-launched-an-impact-driven-company-with-a-twist.html" class="button small" style="background: #fff; color: #edb713; border: none;" target="_blank;">Check out our Origin Story</a>
        <div class="four spacing"></div>
      </div>
    </div>
  </div>
</div>

<a id='blog'></a>
<div class='full grey'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html small_title="latest posts" title="Stuff we think about" %}
    </div>
  </div>
</div>
<div class="full grey no-padding no-overflow">
  {% for post in site.posts limit:3 %}
    <div class='large-4 columns'>
      <div class='mod modBlogPost simple'>
	<div class='content'>
	  <p class='date'>{{ post.date | date: "%B %d, %Y" }}</p>
	  <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
	  <div class='spacing'></div>
	  <p>
	    <a class='button boxed yellow tiny' href='{{ post.url | relative_url }}'>Read more</a>
	  </p>
	</div>
      </div>
      <div class="two spacing"></div>
    </div>
  {% endfor %}
  <div class='large-12 columns text-center'>
    <a class="button boxed yellow" href="/blog">See all posts</a>
    <div class="four spacing"></div>
  </div>
</div>

<div class='full no-overflow no-padding parallax' style="background: #edb713;">
  <div class="mid-half" style="padding-bottom: 0px;">
    <div class="row">
      <div class="section-header">
        <h2>Take your first step towards reimagining your sustainability</h2>
        <p>Get your hands on our HuckleBe Insights & Updates. They're juicy!</p>
        <br>
        <a href="https://landing.mailerlite.com/webforms/landing/m3x0u8" class="button small" style="background: #93222B; color: #fff; border: none;" target="_blank;">Sign up here</a>
        <div class="two spacing"></div>
      </div>
    </div>
  </div>
</div>

<div class='full no-overflow no-padding parallax'>
  <div class="mid-half" style="padding-bottom: 0px;">
    <div class="row">
      <div class="section-header">
        <h2>... and what they say about us</h2>
        <br>
        <i class="fa fa-quote-left fa-4x"></i>
      </div>
      <div class='mod modTestimonials simple slow'>
        <div class='row'>
          <div class='small-12 columns'>
            <div class='items'>
              {% for t in page.testimonials %}
              <div class='item'>
                <p class='quote'>{{ t.quote }}</p>
                <div class="two spacing"></div>
                <div class='author'>
                  <p class='author-avatar'>
                  <img width="80" height="80" alt="" src="{{ t.author.avatar | relative_url }}" />
                  </p>
                  <p class='author-name'>
                  -
                  <strong>{{ t.author.name }}</strong>
                  {%- if t.author.position %}, {{ t.author.position }}{% endif %}
                  </p>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='full'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html small_title="Our impact delivered" title="Some of our amazing clients" %}
    </div>
  </div>
</div>
<div class="full no-padding">
  <div class="clients">
    <div class='row'>
      {% for client in page.clients %}
        <div class='large-3 medium-6 small-6 columns'>
          <div class="client">
            <a href="javascript:void(0)"><img alt="" src="{{ client | relative_url }}" /></a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="four spacing"></div>
</div>

<div class="four spacing"></div>
<a id='contact'></a>
{% include contact-form.html %}

{% include social-networks.html %}

