<div id="socials" class='full parallax social-networks' style="background-image: url({{ "/assets/images/socials-bg.jpg" | relative_url }})">
  <div class='two spacing'></div>
  <div class='row'>
    <div class='medium-6 columns'>
      <div class='big-social'>
        <a href="#">
          <i class='fa fa-twitter'></i>
        </a>
        <h4>Twitter</h4>
      </div>
      <div class='two spacing'></div>
    </div>
    <div class='medium-6 columns'>
      <div class='big-social'>
        <a href="#">
          <i class='fa fa-linkedin'></i>
        </a>
        <h4>Linkedin</h4>
      </div>
      <div class='two spacing'></div>
    </div>
  </div>
  <div class='two spacing'></div>
</div>
